<template>
    <Header />
    <div class="body">
        <Sidebar />
        <div class="content">
            <router-view></router-view>
        </div>
    </div>
</template>

<script>
import Header from './includes/Header.vue'
export default {
    name: "App",
    mounted() {},
};
</script>

<style lang="scss" scoped>
.body {
    display: grid;
    grid-template-columns: minmax(300px, max-content) 1fr;
}
</style>
