<template>
    <el-button type="primary">Primary</el-button>
</template>

<script>
export default {
    name: "Main",
    mounted() {
        console.log("main");
    },
};
</script>

<style></style>
